{% extends 'base.html' %}
{% block title%}
about
{% endblock title%}

 {% block body %}
 <div class="row">
   <div class="col-4">

 <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
  <a class="navbar-brand" href="#">Navbar</a>
  <nav class="nav nav-pills flex-column">
    <a class="nav-link" href="#item-1">Item 1</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
      <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
    </nav>
    <a class="nav-link" href="#item-2">Item 2</a>
    <a class="nav-link" href="#item-3">Item 3</a>
    <nav class="nav nav-pills flex-column">
      <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
      <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
    </nav>
  </nav>
</nav>
</div>

<div class="col-8">
  
<div data-bs-spy="scroll" style="height:400px ; overflow-y: scroll" data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0" data-target="#navbar-example3 col border p-3 rounded">
  <h4 id="item-1">Item 1</h4>
  <p>{% lorem 1 b random %}</p>
  <h5 id="item-1-1">Item 1-1</h5>
  <p>{% lorem 2 b random %}</p>
  <h5 id="item-1-2">Item 1-2</h5>
  <p> {% lorem 3 b random %}</p>
  <h4 id="item-2">Item 2</h4>
  <p>{% lorem 4 b random %}</p>
  <h4 id="item-3">Item 3</h4>
  <p>{% lorem 5 b random %}</p>
  <h5 id="item-3-1">Item 3-1</h5>
  <p>{% lorem 8 b random %}</p>
  <h5 id="item-3-2">Item 3-2</h5>
  <p>{% lorem 9 b random %}</p>
</div>
</div>
</div>



<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 7px;
  height: 170px; /* Should be removed. Only for demonstration */
  border: 1.5px solid black;

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
h4 {
  color: green;
}
h6 {
  color: purple;
}
u {
  color: purple;
}
</style>
</head>
<body>

  <p>  </p>
<p>  </p>

<center><h4>Devloped By</h4></center>
<p>  </p>
<p>  </p>
<div class="row">
  <div class="column" style="background-color:Light;">
    <u><h6> Prince Kumar</h6></u>
    <p>
      <p> Creative -
       I use a creative approach to problem solve.</p>
  </div>
  <div class="column" style="background-color:Light;">
    <u><h6>Parth Goel</h6></u>
    <p>Energetic -
      I am always energetic and eager to learn new skills.</p>
  </div>
  <div class="column" style="background-color:Light;">
    <u><h6>Akanksha Raj</h6></u>
    <p>Flexible -
      I am flexible in my working hours, being able to work evenings and weekends.</p>
  </div>
  <div class="column" style="background-color:Light;">
    <u><h6>Mayank Dhiman</h6></u>
    <p>Imaginative -
      I work with the team to provide imaginative solutions for our customers.</p>
    <p>   </p>
    <p>   </p>
  </div>
</div>

</body>
</html>






 {% endblock body %}
